<h1>Detail Information</h1>

	<h3><%= @shoe.shoename %></h3>
	Type : <%= @shoe.shoetype %><br>
	Color : <%= @shoe.color %><br>
	Watersensitivity : <%= @shoe.watersensitivity %><br>
	Odorsensitivity : <%= @shoe.odorsensitivity %><br>
	Predictedlife : <%= @shoe.predictedlife %><br>
	Weight : <%= @shoe.weight %><br>
	Preference : <%= @shoe.preference %><br>
	UsageTime : <%= @shoe.usagetime %><br>
	Frequnecy : <%= @shoe.frequency %>