<br>
<div class="jumbotron">
<h2>Detail Information</h2>

	<h3><%= @shoe.shoename %></h3>
	<%= image_tag("8", height: '150', width: '250') %>
	<br>
	Type : <%= @shoe.shoetype %><br>
	Color : <%= @shoe.color %><br>
	Watersensitivity : <%= @shoe.watersensitivity %>%<br>
	Odorsensitivity : <%= @shoe.odorsensitivity %>%<br>
	Predictedlife : <%= @shoe.predictedlife %> hours<br>
	Weight : <%= @shoe.weight %>g<br>
	Preference : <%= @shoe.preference %>%<br>
	UsageTime : <%= @shoe.usagetime %> days<br>
	Usable Time : <%= @shoe.predictedlife - @shoe.usagetime %> days<br>
	<br>
	<button class="btn btn-default" type="submit"><%= link_to 'My Shoebox', mybox_information_path %></button>

</div>