<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <br>
              <br>
              <h1 class="masthead-brand">SMART SHOEBOX</h1>
              <br>
              <nav align="center">
				<ul class="nav nav-tabs">
					<% if user_signed_in? %>
						<li role="presentation"><%= link_to 'Home', root_path %></li>
						<li role="presentation"><%= link_to 'MY Shoebox', mybox_information_path %></li>
						<li role="presentation"><%= link_to 'Smart Function', smart_index_path %></li>
						<li role="presentation"><%= link_to 'Weather', weather_index_path %></li>
						<li role="presentation"><%= link_to 'Recommend', recommend_index_path %></li>
						<li role="presentation"><%= link_to 'LOGOUT', destroy_user_session_path %></li>
						
					<% else %>
					<% end %>
				</ul>
			  </nav>
            </div>
          </div>
	